*{
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
	gap: 62px;
	

	background-color: #ffeedf;
}

.item {
	width: 290px;
	height: 416px;
	padding: 27px;
	
	background-color: #fff;
}

h2 {
	color: #33793f;
	font-size: 48px;
	font-family: 'EB Garamond', serif;
	font-weight: normal;
}

h6 {
	color: #999;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: medium;
	letter-spacing: 0.1em;
	margin-top: 15px;

}

p {
	color: #999;
	font-size: 24px;
	font-family: 'EB Garamond', serif;
	font-weight: normal;
	margin-top: 50px;

}

@media(max-width:710px) {
	body{
		flex-direction: column;
		height: 100%;
	}
}